/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 16px;
}

nav {
    background-color: #444;
    color: #fff;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 1rem;
}

nav ul li {
    display: inline-block;
    margin-right: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.featured {
    background-color: #f9f9f9;
    padding: 1rem;
}

.news {
    margin-top: 2rem;
}

.news-item {
    background-color: #f0f0f0;
    padding: 1rem;
    margin-bottom: 1rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 19px;
}
.logout{
    margin-left: 30px;
}
