/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 120px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-top: 0;
    color: #333333;
  }
  
  .portal-button {
    display: inline-block;
    padding: 15px 25px;
    margin: 10px;
    font-size: 18px;
    border: 2px solid #007bff;
    border-radius: 10px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .portal-button:hover {
    background-color: #0056b3;
  }
  